{% extends 'main/base.html' %}

{% load static %}

{% block title %}Chats | {% endblock %}

{% block content %}
<div class=" lg:pt-14 md:pt-9 pt-5 lg:pb-11 md:pb-7 pb-4 text-center">
    <h1 class="lg:text-5xl md:text-3xl text-2xl text-teal-800 dark:text-gray-200">Private Chats</h1>
</div>

<div class="flex justify-center">
    {% if chats %}
        <div class="lg:w-2/4 md:w-8/12 w-full mx-5 md:text-base text-sm">
            {% for chat in chats %}
                <div class="flex overflow-x-hidden px-1 md:px-2 py-1.5 md:py-2 mb-2 bg-cyan-600  dark:bg-cyan-700 text-white dark:text-gray-100 rounded-xl cursor-pointer"  onclick="location.href='{% url "chats:private_chat" chat.receiver.username  %}'">
                    <div class="mx-1 md:h-20 h-14" style="aspect-ratio: 1/1;">
                        <img src="{% if chat.receiver.userprofile.profile_pic %}{{chat.receiver.userprofile.profile_pic.url}}{% else %}{% get_static_prefix %}{{dpfp}}{% endif %}"
                            alt="profile_pic" class="md:rounded-3xl rounded-2xl " style="aspect-ratio: 1/1; object-fit: cover"/>
                    </div>
                    <div class="px-2 py-1 mt-1 mr-5 lg:mr-20">
                        <div class="font-bold"><p>{{ chat.receiver.username }}</p></div>
                        <div>
                            <span class="font-bold">{% if request.user.username == chat.message.user.username %}Me: {% endif %}</span>
                            <span>{{ chat.message.content|truncatechars:80 }}</span>
                        </div>
                    </div> 
                    <div class="flex flex-grow"><div class="mt-auto ml-auto"><p class="mr-1.5 md:mr-3 mb-1 md:mb-2 text-xs">{{ chat.message.date_added|date:'H:i' }}</p></div></div>
                </div>
            {% endfor %}
        </div>
    {% else %}
            <p class="lg:text-2xl md:text-xl text-base text-center text-teal-800 dark:text-gray-200">No Private Chats yet</p>
    {% endif %}
</div>
{% endblock %}