{% extends 'main/base.html' %}

{% load static %}

{% block title %}Chats | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Private Chats</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto">
    {% for chat in chats %}
        <div class="flex flex-row p-2 my-2 bg-red-300 rounded-xl cursor-pointer"  onclick="location.href='{% url "chats:private_chat" chat.receiver.username  %}'">
            <div class="mx-1 h-20" style="aspect-ratio: 1/1;">
                <img src="{% if chat.receiver.userprofile.profile_pic %}{{chat.receiver.userprofile.profile_pic.url}}{% else %}{% get_static_prefix %}{{dpfp}}{% endif %}"
                    alt="profile_pic" class="w-full rounded-3xl" style="aspect-ratio: 1/1; object-fit: cover"/>
            </div>
            <div class="mt-1 mr-20 px-2 py-1 rounded-xl bg-red-300 text-white">
                <div class="font-bold"><p>{{ chat.receiver.username }}</p></div>
                <div>
                    <span class="font-bold">{% if request.user.username == chat.message.user.username %}Me: {% endif %}</span>
                    <span>{% if chat.message.content|length > 80 %}{{ chat.message.content|slice:":80" }}...{% else %}{{ chat.message.content }}{% endif %}</span>
                </div>
                <div class="float-right"><p class="text-xs">{{ chat.message.date_added|date:'H:i' }}</p></div>
            </div> 
        </div>
    {% endfor %}
</div>
{% endblock %}