{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for m in messages %}
            {% if request.user.username == m.user.username %}
                <div class="flex flex-row justify-end h-14">
                    <div class="mt-1 px-2 py-1 rounded-xl bg-red-300 text-white">
                        <div><p>{{ m.content }}</p></div>
                        <div class="float-right"><p class="text-xs">{{ m.date_added|date:'H:i' }}</p></div>
                    </div>
                </div>
            {% else %}
                <div class="flex flex-row h-20">
                    <div class="mx-1" style="aspect-ratio: 1/1;" onclick="location.href='{% url "authentication:profile" m.user.username %}';">
                        <img src="{% if m.user.userprofile.profile_pic %}{{m.user.userprofile.profile_pic.url}}{% else %}{% get_static_prefix %}{{dpfp}}{% endif %}"
                            alt="profile_pic" class="w-full rounded-3xl" style="aspect-ratio: 1/1; object-fit: cover"/>
                    </div>
                    <div class="mt-1 px-2 py-1 rounded-xl bg-red-300 text-white">
                        <div class="font-bold"><p>{{ m.user.username }}</p></div>
                        <div><p>{{ m.content }}</p></div>
                        <div class="float-right"><p class="text-xs">{{ m.date_added|date:'H:i' }}</p></div>
                    </div> 
                </div>                  
            {% endif %}
        {% endfor %}
        <template id="mymessage">
            <div class="flex flex-row justify-end h-14">
                <div class="mt-1 px-2 py-1 rounded-xl bg-red-300 text-white">
                    <div><p class="mycontent"></p></div>
                    <div class="float-right"><p class="mytime text-xs"></p></div>
                </div>
            </div>
        </template>
        <template id="message">
            <div class="flex flex-row h-20">
                <div class="pfpdiv mx-1" style="aspect-ratio: 1/1;">
                    <img src="{% get_static_prefix %}{{dpfp}}" alt="profile_pic" class="pfp w-full rounded-3xl" style="aspect-ratio: 1/1;
                     object-fit: cover"/>
                </div>
                <div class="mt-1 px-2 py-1 rounded-xl bg-red-300 text-white">
                    <div class="font-bold"><p class="username"></p></div>
                    <div><p class="content"></p></div>
                    <div class="float-right"><p class="time text-xs"></p></div>
                </div>
            </div>
        </template>
    </div>
</div>

<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="." class="flex">
        <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message..." id="chat-message-input">
        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-message-submit">
            Submit
        </button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
{% if request.user.userprofile.profile_pic %}
    {{ request.user.userprofile.profile_pic.url|json_script:"json-pfp" }}
{% else %}
    {{ ''|json_script:"json-pfp" }}
{% endif %}
{% url "authentication:profile" 'user' as profile_url %}
{{ profile_url|json_script:"json-url" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const userPfp = JSON.parse(document.getElementById('json-pfp').textContent);
    const pfUrl = JSON.parse(document.getElementById('json-url').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            // document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
            // var newDiv = document.createElement("div");
            // let messages = document.querySelector('#chat-messages');
            // let clone;
            // if (data.username === userName) {
            //     let template = document.querySelector('#mymessage');
            //     clone = template.content.cloneNode(true);
            //     let mtext = clone.querySelector("#mycontent");
            //     mtext.textContent = data.message;
            //     let mtime = clone.querySelector("#mytime");
            //     mtime.textContent = data.time;
            // } else {
            //     let template = document.querySelector('#message');
            //     clone = template.content.cloneNode(true);
            //     let musername = clone.querySelector("#username");
            //     musername.textContent = data.username;
            //     let mtext = clone.querySelector("#content");
            //     mtext.textContent = data.message;
            //     let mpfp = clone.querySelector("#pfp");
            //     if (data.pfp !== '') {
            //         mpfp.src = data.pfp
            //     }
            //     let pfpl = clone.querySelector("#pfpdiv");
            //     var url = pfUrl.replace("user", data.username);
            //     console.log(url)
            //     pfpl.setAttribute('onclick', 'location.href='+'"'+ url + '"');               
            //     let mtime = clone.querySelector("#time");
            //     mtime.textContent = data.time;
            // }
            const messages = document.querySelector('#chat-messages');
            let clone;
            if (data.username === userName) {
                const template = document.querySelector('#mymessage');
                clone = template.content.cloneNode(true);
                const mtext = clone.querySelector(".mycontent");
                mtext.textContent = data.message;
                const mtime = clone.querySelector(".mytime");
                mtime.textContent = data.time;
            } else {
                const template = document.querySelector('#message');
                clone = template.content.cloneNode(true);
                const musername = clone.querySelector(".username");
                musername.textContent = data.username;
                const mtext = clone.querySelector(".content");
                mtext.textContent = data.message;
                const mpfp = clone.querySelector(".pfp");
                if (data.pfp !== '') {
                    mpfp.src = data.pfp
                }
                const pfpl = clone.querySelector(".pfpdiv");
                const url = pfUrl.replace("user", data.username);
                console.log(url)
                pfpl.setAttribute('onclick', 'location.href='+'"'+ url + '"');
                const mtime = clone.querySelector(".time");
                mtime.textContent = data.time;
            }
            messages.appendChild(clone);

        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'pfp': userPfp,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };


    // A function for finding the messages element, and scroll to the bottom of it.
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>
{% endblock %}