{% extends 'main/base.html' %}

{% load static %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="mb-0 pt-15 lg:pt-20 pb-7 lg:pb-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-teal-800 dark:text-gray-200">Real-Time Chat App</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto">
    {% if request.user.is_authenticated %}
        {% for chat in chats %}
            {% if chat.private %}
                <div class="flex flex-row my-3 p-2 bg-cyan-600  dark:bg-cyan-700 text-white dark:text-gray-100 rounded-xl cursor-pointer"  onclick="location.href='{% url "chats:private_chat" chat.receiver.username  %}'">
                    <div class="mx-1 h-20" style="aspect-ratio: 1/1;">
                        <img src="{% if chat.receiver.userprofile.profile_pic %}{{chat.receiver.userprofile.profile_pic.url}}{% else %}{% get_static_prefix %}{{dpfp}}{% endif %}"
                            alt="profile_pic" class="w-full rounded-3xl" style="aspect-ratio: 1/1; object-fit: cover"/>
                    </div>
                    <div class="mt-1 mr-20 px-2 py-1 rounded-xle">
                        <div class="font-bold"><p>{{ chat.receiver.username }}</p></div>
                        <div>
                            <span class="font-bold">{% if request.user.username == chat.message.user.username %}Me: {% endif %}</span>
                            <span>{% if chat.message.content|length > 80 %}{{ chat.message.content|slice:":80" }}...{% else %}{{ chat.message.content }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="flex flex-grow"><div class="float-right mt-auto ml-auto"><p class="mr-3 mb-2 text-xs">{{ chat.message.date_added|date:'H:i' }}</p></div></div>
                </div>
            {% else %}
                <div class="flex flex-row my-4 p-2 bg-teal-blue dark:bg-dteal-blue text-white dark:text-gray-100 rounded-xl cursor-pointer"  onclick="location.href='{% url "chats:room" chat.room.slug  %}'">
                    <div class="mx-1 h-20" style="aspect-ratio: 1/1;">
                        <img src="{% if chat.message.user.userprofile.profile_pic %}{{chat.message.user.userprofile.profile_pic.url}}{% else %}{% get_static_prefix %}{{dpfp}}{% endif %}"
                            alt="profile_pic" class="w-full rounded-3xl" style="aspect-ratio: 1/1; object-fit: cover"/>
                    </div>
                    <div class="mt-1 mr-20 px-2 py-1 rounded-xl">
                        <div class="font-bold"><p>{{ chat.room.name }}</p></div>
                        <div>
                            <span>{% if chat.message.content|length > 80 %}{{ chat.message.content|slice:":80" }}...{% else %}{{ chat.message.content }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="flex flex-grow"><div class="float-right mt-auto ml-auto"><p class="mr-3 mb-2 text-xs">{{ chat.message.date_added|date:'H:i' }}</p></div></div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div>
            Log in to message in Rooms or start a Private Chat
        </div>
    {% endif %}
</div>
{% endblock %}